.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #1D1D1D;
    margin: 0;
    padding: 0.5rem;
    overflow-x: hidden;
  }

  .navbar-item {
    flex-basis: 20%;
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    color: #888279;
    font-size: large;
    justify-content: space-around;
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }


  .logo {
    height: 50px;
    width: 50px;
    margin-right: 25px;
  }

  .main-content {
    flex: 1;
    padding-bottom: 50px;
  }
  
  .footer {
    background-color: #1D1D1D;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    padding-top: -3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: 2;
  }
  .footer-logo {
    display: flex;
    height: 50px;
    width: 50px;
  }
  .email {
    
    color: #888279;
    font-size: smaller;
    margin-left: 3em;
    margin-right: -2em;
  }
  .motto {
  
    color: #888279;
    font-size: smaller;
    margin-left: -8.5em;
    margin-right: 3em;
    font-style: italic;
  }