.cellar-page {
  display: flex;
  background-color: #F0EDD6;
  padding-top: 1em;
  padding-bottom: 3em;
  width: 100%;
  overflow-x: hidden;
}

.cellar-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cellar-card {
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 1.5em;
  border-radius: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background-color: #F0EDD6;
  padding: 1em;
  box-shadow: 10px 10px 10px 2px #888279;
}

.cellar-card:hover {
  transform: translateY(-10px);
  background-color: #f7f4f2;
  color: #533339;
}

.cellar-card-link {
  color: #1D1D1D;
  text-decoration: none;
  font-size: 1.25em;
}

.cellar-card-link:hover {
  text-decoration: underline;
  color: #888279;
}

.wine-image {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
  border: 4.5px solid #653642;
  margin-bottom: .5em;
}

.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  transition: width 0.3s;
  background-color: #9F5057;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.side-panel.open {
  width: 250px;
}

.toggle-button {
  display: block;
  margin: 0 auto 10px;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-form input {
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-form button {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #653642;
  color: #fff;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #533339;
}

.style-select {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #533339;
  border-radius: 3px;
  font-size: 1em;
}